@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  color: map-get($colors, 'white');
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}


h1 {
  font-weight: 900;
  font-size: 104px;
  line-height: 104px;

  @media #{map-get($display-rules, 'xs')} {
    font-size: 60px;
    line-height: 64px;
  }
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;

  @media #{map-get($display-rules, 'xs')} {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;

  @media #{map-get($display-rules, 'xs')} {
    font-size: 24px;
    line-height: 36px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

a {
  @include text-small-bold;
  font-size: 18px;
  line-height: 28px;
  color: map-get($colors, "green-light");

  &:hover {
    color: map-get($colors, "white");
  }

  @media #{map-get($display-rules, 'xs')} {
    font-size: 14px;
    line-height: 24px;
  }
}


// CLASSES


.section-wrapper {
  padding: 40px 160px;
  height: 100%;

  @media #{map-get($display-rules, 'lg')} {
    padding: 20px 80px;
  }
  @media #{map-get($display-rules, 'sm')} {
    padding: 20px 40px;
  }
  @media #{map-get($display-rules, 'xs')} {
    padding: 20px;
  }
}